

-form_for(@cliente) do |f|
    - unless @cliente.errors.empty?
        .erros_de_validacao
            - @cliente.errors.each do |msg|
                %p= msg.last
    %table
        %tr
            %td= f.label :nome, "Nome"
            %td= f.text_field :nome, :class =>"obrigatorio"

        %tr
            %td= f.label :rg,  "RG"
            %td= f.text_field :rg, :class => "obrigatorio"

        %tr#documento_federal    
            %td
                =f.fields_for :documento_federal do |doc|
                    - if @cliente.nome.blank?
                        = doc.select(:tipo_doc, options_for_select(DocumentoFederal::Tipo, 1))
                    - else
                        = doc.label :tipo_doc, @cliente.documento_federal.tipo_doc
                        = doc.hidden_field :tipo_doc
                    %td= doc.text_field :numero, :class=>"obrigatorio"

        %tr
            %td= f.label :data_de_nascimento,  "Data de Nascimento"
            %td= f.date_select :data_de_nascimento, :start_year => 1900, :end_year => 2010, :order=>[:day, :month, :year]
        
        %tr
            %td= f.label :cep, "Cep"
            %td= f.text_field :cep
        
        %tr
            %td= f.label :logradouro, "Logradouro"
            %td= f.text_field :logradouro
            %td= f.label :nr_logradouro, "Número"
            %td= f.text_field :nr_logradouro, :size=>"10"
        
        %tr
            %td= f.label :cidade, "Cidade"
            %td= f.text_field :cidade
        
        %tr
            %td= f.label :estado, "Estado"
            %td= f.text_field :estado
        
        %tr
            %td= f.label :bairro, "Bairro"
            %td= f.text_field :bairro
      
        %tr
            %td= f.label :complemento
            %td= f.text_field :complemento
        
        %tr#contato    
            - n_contato = 0
            %td
                =f.fields_for :contatos do |contato|
                    - if @cliente.nome.blank?
                        = contato.select(:tipo, options_for_select(Contato::TIPO, 2))
                    - else
                        = contato.label :valor, @cliente.contatos[n_contato].tipo_contato
                    %td= contato.text_field :valor, :class=>"obrigatorio"
                    - n_contato += 1

        %tr
            %td= f.submit "Salvar"
    

- select_for_novo_contato = Contato::TIPO.to_a.map { |tipo| "<option value='#{tipo[1]}'>#{tipo[0]}</option>" }.to_s
:javascript
    novos_contatos = 1;
    function appendNewContato(){
        var select = '<tr>';
        select = select + '<td><select name="cliente[contatos_attributes][' + novos_contatos + '][tipo]">';
        select = select + "#{select_for_novo_contato}";
        select = select + '</select></td>';
        select = select + '<td><input class="obrigatorio" name="cliente[contatos_attributes][' + novos_contatos + '][valor]" type="text"></td>';
        select = select + '</tr>';
        $('contato').insert({ after : select});
        novos_contatos += 1;        
    };

- content_for :submenu do
    %ul
        %li=link_to "Adicionar Contato", 'javascript:void(0);', :onclick => 'appendNewContato()'
        %li=link_to "Voltar" , clientes_path

