-form_for(@cliente) do |f|
    - unless @cliente.errors.empty?
        - @cliente.errors.each do |msg|
            %p= msg.last

    = f.label :nome, "Nome"
    = f.text_field :nome

    %br
    = f.label :rg,  "RG"
    = f.text_field :rg

    %br
    = f.label :data_de_nascimento,  "Data de Nascimento"
    = f.date_select :data_de_nascimento, :start_year => 1900, :order=>[:day, :month, :year]

    %br
    - n_contato = 0
    =f.fields_for :contatos do |contato|
        - if @cliente.nome.blank?
            = contato.select(:tipo, options_for_select(Contato::TIPO))
        - else
            = contato.label :valor, @cliente.contatos[n_contato].tipo_contato
        = contato.text_field :valor
        - n_contato += 1

    %br
    = f.submit "Salvar"

- content_for :submenu do
    %ul
        %li=link_to "Voltar" , clientes_path

