%div#clientes
    %h1 Todos os clientes com OS pendentes
    %table
        %tr
            %td
            %td
            %td Nome do Cliente
            %td RG
            %td Data de Nascimento
            %td Contato Principal
        - @clientes.each do |cliente|
            %tr.cliente
                %td= select_link cliente_path(cliente.id)
                %td= edit_link edit_cliente_path(cliente.id)
                %td= cliente.nome
                %td= cliente.rg
                %td= cliente.data_de_nascimento.strftime('%d/%m/%Y') unless cliente.data_de_nascimento.nil?
                %td= cliente.contatos.first.valor unless cliente.contatos.empty?


    %br

-content_for :submenu do
    %ul
        %li= link_to "Cadastrar", new_cliente_path
        %li= link_to "Buscar", clientes_search_path

