%div#clientes
    %h1 Todos os clientes com OS pendentes
    %table
        %tr
            %td #
            %td #
            %td Nome do Cliente
            %td RG
            %td Data de Nascimento
            %td Contato Principal
        - @clientes.each do |cliente|
            %tr.cliente
                %td= link_to "Selecionar", cliente_path(cliente.id)
                %td= link_to "Editar", edit_cliente_path(cliente.id)
                %td= cliente.nome
                %td= cliente.rg
                %td= cliente.data_de_nascimento.strftime('%d/%m/%Y') unless cliente.data_de_nascimento.nil?
                %td= cliente.contatos.first.valor unless cliente.contatos.empty?


    %br
    .links
        = link_to "Novo Cliente", new_cliente_path

