%div#clientes
    %table
        %th Nome
        %th Data de Nascimento
        - @clientes.each do |cliente|
            %tr
                %td= cliente.nome
                %td= cliente.data_de_nascimento
                %td= link_to "Detalhes", cliente_path(cliente.id)
                %td= link_to "Editar", edit_cliente_path(cliente.id)

    .links
        = link_to "Novo Cliente", new_cliente_path

