.cliente.show
    %p.detalhe
        %h4=  @cliente.nome
        %p
            %p
                %strong RG do cliente:
                %label= @cliente.rg
            %p
                %strong Data de Nascimento:
                %label= @cliente.data_de_nascimento

    %br
    %h4 Contatos
    .contatos
        %table
            %tr
                %th
                %th Forma de Contato
                %th Exluir

            -@cliente.contatos.each do |contato|
                %tr
                    %td=contato.tipo_contato
                    %td=contato.valor
                    %td=delete_link cliente_contato_path(contato), :confirm => "Quer deletar esse contato?", :method => :delete
    %br
    %h4 Ordens de serviços
    %br
    .ordem_servicos
        %table
            %tr
                %th Selecione
                %th Editar
                %th Tipo Pedido
                %th Cliente
            -@cliente.ordem_servico.each do |ordem_servico|
                %tr
                    %td= select_link ordem_servico_path(ordem_servico.id)
                    %td= edit_link edit_ordem_servico_path(ordem_servico.id)
                    %td= ordem_servico.tipo_pedido

-content_for :submenu do
    %ul
        %li= link_to "Adicionar Contato", new_cliente_contato_path(@cliente)
        %li= link_to "Adicionar OS", new_cliente_ordem_servico_path(@cliente)
        %li= link_to "Voltar", clientes_path

