.cliente.show
    %p.detalhe
        %h4=  @cliente.nome
        %p
            %p
                %strong RG do cliente:
                %label= @cliente.rg
            %p
                %strong Data de Nascimento:
                %label= @cliente.data_de_nascimento

    %h4 Contatos
    .contatos
        %table
            %tr
                %th Forma de Contato
                %th
            -@cliente.contatos.each do |contato|
                %tr
                    %td=contato.valor
                    %td=link_to "Excluir"


    = link_to "Adicionar Contato"

.links
    = link_to "Voltar", clientes_path
    = link_to "Adicionar OS"

