.ordem_servico.insert
  -form_for @ordem_servico do |f|
    - unless @ordem_servico.errors.empty?
      - @ordem_servico.errors.full_messages.each  do |msg|
        %p= msg
  
    = f.label :tipo_pedido, "Tipo da Ordem de Serviço (Orçamento ou Ordem de Serviço)"
    = f.radio_button :tipo_pedido, 'Orçamento'
    = f.radio_button :tipo_pedido, 'Ordem de Serviço'
    %br
    = f.label :descricao_equipamento, "Descrição do Equipamento"
    = f.text_field :descricao_equipamento
    %br
    = f.label :descricao_defeito, "Descrição Defeito"
    = f.text_field :descricao_defeito
    %br
    = f.label :descricao_servico_realizado, "Descrição do Serviço Realizado"
    = f.text_field :descricao_servico_realizado
    %br
    = f.label :diagnostico_tecnico, "Diagnóstico do Técnico"
    = f.text_field :diagnostico_tecnico
    %br
    = f.label :numero_serie_equipamento, "Número série do Equipamento Orçado"
    = f.text_field :numero_serie_equipamento
    %br
    = f.label :descricao_pecas, "Descrição das Peças utilizadas"
    = f.text_field :descricao_pecas
    %br
    = f.label :valor_servico, "Valor Serviço"
    = f.text_field :valor_servico
    %br
    = f.submit "Salvar"
  
