.ordem_servico.insert
  -form_for @ordem_servico do |f|
    - unless @ordem_servico.errors.empty?
      - @ordem_servico.errors.full_messages.each  do |msg|
        %p= msg
    = f.label :codigo, "Código da OS"
    = f.text_field :codigo, :value => "#{Time.now.utc.iso8601.gsub('-', '').gsub(':', '')}", :readonly => "true"		
    = f.label :cliente_id, "Cliente"
    = f.select(:cliente_id, @clientes || @cliente)
    = f.label :tipo_equipamento_id, "Equipamento"
    = f.select :tipo_equipamento_id, options_from_collection_for_select(@equipamentos || @tipo_equipamento, 'id', 'nome')
    = link_to "+", new_tipo_equipamento_path

    %br
    Tipo da Ordem de Serviço
    - if @ordem_servico.tipo_pedido.blank?
      = f.label :tipo_pedido, "Orçamento"
      = f.radio_button :tipo_pedido, 'Orçamento', :checked => true
    - else
      = f.label :tipo_pedido, "Orçamento"
      = f.radio_button :tipo_pedido, 'Orçamento'
      = f.label :tipo_pedido, "Ordem de Serviço"
      = f.radio_button :tipo_pedido, 'Ordem de Serviço'
    %br
    Situação
    %table
      - if @ordem_servico.tipo_pedido.blank?
        %tr
          %td= f.label :situacao, "Em orçamento"
          %td= f.radio_button :situacao, OrdemServico::Situacao["Em orçamento"], :checked => true
      - else
        - OrdemServico::Situacao.each_pair do |k, v|
          %tr
            %td= f.label :situacao, k
            %td= f.radio_button :situacao, v

    %br
    = f.label :descricao_equipamento, "Descrição do Equipamento"
    = f.text_field :descricao_equipamento
    %br
    = f.label :numero_serie_equipamento, "Número série do Equipamento Orçado"
    = f.text_field :numero_serie_equipamento
    %br
    = f.label :descricao_defeito, "Descrição Defeito"
    = f.text_area :descricao_defeito, :cols => 40, :rows => 10

    - unless @ordem_servico.tipo_pedido.blank?
      %br
      = f.label :descricao_servico_realizado, "Descrição do Serviço Realizado"
      = f.text_field :descricao_servico_realizado
      %br
      = f.label :diagnostico_tecnico, "Diagnóstico do Técnico"
      = f.text_field :diagnostico_tecnico
      %br
      = f.label :descricao_pecas, "Descrição das Peças utilizadas"
      = f.text_field :descricao_pecas
      %br
      = f.label :valor_servico, "Valor Serviço"
      = f.text_field :valor_servico

    %br
    = f.submit "Salvar"

