%div#ordem_servico
    %table
        %th
        %th
        %th Código da OS
        %th Cliente
        %th Tipo Pedido
        %th Situação
        %th Equipamento
        - @ordem_servicos.each do |ordem_servico|
            %tr
                %td= select_link ordem_servico_path(ordem_servico.id)
                %td= edit_link edit_ordem_servico_path(ordem_servico.id)
                %td= ordem_servico.codigo
                %td= link_to_unless ordem_servico.cliente.nil?, ordem_servico.cliente.nome, cliente_path(ordem_servico.cliente.id)
                %td= ordem_servico.tipo_pedido
                %td= ordem_servico.tipo_situacao
                %td= ordem_servico.tipo_equipamento.nome



