.ordermservico.show
    %h1 Ordens de Serviço
    %table
        %tr
            %td Tipo da Ordem de Serviço (Orçamento ou Ordem de Serviço)
            %td= @ordem_servico.tipo_pedido
        %tr
            %td Descrição do Equipamento
            %td= @ordem_servico.descricao_equipamento
        %tr
            %td Descrição Defeito
            %td= @ordem_servico.descricao_defeito
        %tr
            %td Descrição do Serviço Realizado
            %td= @ordem_servico.descricao_servico_realizado
        %tr
            %td Diagnóstico do Técnico
            %td= @ordem_servico.diagnostico_tecnico
        %tr
            %td Número série do Equipamento Orçado
            %td= @ordem_servico.numero_serie_equipamento
        %tr
            %td Descrição das Peças utilizadas
            %td= @ordem_servico.descricao_pecas
        %tr
            %td Valor Serviço
            %td= @ordem_servico.valor_servico
        %tr

- content_for :submenu do
    %ul
        %li= link_to "Voltar", ordem_servico_index_path 

