%div#usuarios
  %h1 Usuários do Sistema
  %table
    %tr
      %th
      %th
      %th Nome do Usuário
      %th E-mail
      -@users.each do |user|
        %tr
          %td= select_link user_path(user.id)
          %td= edit_link edit_user_path(user.id)
          %td= user.name
          %td= user.email

-content_for :submenu do
  %ul
    %li= link_to "Cadastrar", new_user_path

