.group.show
  %h2= @group.name

  Controle de Grupos: 
  = @group.privilegio_grupos * " | "
  <br>

  Controle de Usuários: 
  = @group.privilegio_usuarios * " | "
  <br>

  Controle de Clientes: 
  = @group.privilegio_clientes * " | "
  <br>

  Controle de Ordem de Serviço: 
  = @group.privilegio_ordem_servico * " | "
  <br>

  Controle de Equipamentos: 
  = @group.privilegio_equipamentos * " | "
  <br>

  Controle de Relatórios: 
  = @group.privilegio_relatorios * " | "
  <br>

