.group.show
  %h2= @group.name
  <br>
  <br>
  - array = [ ['Grupos', 'grupos'], ['Usuários', 'usuarios'], ['Clientes', 'clientes'], ['Ordem de Serviço','ordem_servico'], ['Equipamentos', 'equipamentos'], ['Relatórios', 'relatorios']]
  - array.each do |opcao|
    %h3= "Controle de #{opcao.first}:"
    %table
      %tr
        - @group.send("privilegio_#{opcao.last}").each do |priv|
          %td
            = priv.to_s.capitalize 
    <br>
