%ul
    %li.menuitem= link_to "Home", root_path
    %li.menuitem= link_to "Grupos de Usuários", group_index_path
    %li.menuitem= link_to "Usuários", users_index_path
    %li.menuitem= link_to "Clientes", clientes_index_path
    %li.menuitem= link_to "Ordens de Serviço", ordem_servico_index_path
    %li.menuitem= link_to "Equipamentos", tipo_equipamento_index_path
    %li.menuitem= link_to "Relatórios", relatorios_index_path
    %li.menuitem= link_to "Sair", destroy_user_session_path

